<div id="templatemo_content_right">
  <div class="container" style="width:50%;margin:auto">
    <label for="uname"><b>Tên tài khoản</b></label>
    <input type="text" placeholder="Username" name="uname" required="">

    <label for="psw"><b>Mật khẩu</b></label>
    <input type="password" placeholder="Password" name="psw" required="">
  </div>
  <div class="btn-group" style="width:51%;margin:auto">
   <button style="background-color: #556B2F;font-family: Tahoma, Geneva, sans-serif;width:40%;float:left;color: #fcf88e" type="submit">Đăng nhập</button>
    <form action="/login/register" method="GET">
      <button style="background-color: #8b0000;font-family: Tahoma, Geneva, sans-serif;width:40%;float:right" type="submit">Đăng Ký</button>
    </form>
  </div>
  <div class="btn-group" style="width:115%;margin-left:25%;">
    <form action="/login/back" method="GET">
      <button style="background-color: #848484;font-family: Tahoma, Geneva, sans-serif;width:40%;float:none;color: #42e0f5" type="submit">Quay lai</button>
    </form>
  </div>
</div>